<div class="container form-control bg-white" data-controller="datos-personal">
<h3>Editar Datos Personales</h3>
<%= render partial: 'form',locals: {datos_personal: @datos_personal,nuevo:false} %>
</div>