<div class="container bg-white">
    <%= link_to "Regresar",home_administracion_path,class: :"btn btn-sm btn-secondary"%>
    <table class=" table table-bordered">
        <thead>
            <tr>
                <th colspan="2" class="table-dark">Datos Personales</th>                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table-dark"><strong>Nombre Completo:</strong></td>
                <td><%= @datos_personal.nombre_completo %></td>
            </tr>
            <tr>
                <td class="table-dark"><strong>Titulo:</strong></td>
                <td><%= @datos_personal.titulo %></td>
            </tr>
            <tr>
                <td class="table-dark"><strong>Puesto:</strong></td>
                <td><%= @datos_personal.puesto %></td>
            </tr>
        </tbody>
    </table>
</div>