<div class="izquierda offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">  
    <a class="navbar-brand btn btn-sm btn-menu" style="font-size:15px" type="button" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      <%# image_tag('OfiPartLogo.png',size:"35x35") %>
      Inventarios
    </a>    
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <li class="nav-item">
      <li>
        <%# link_to raw("#{image_tag("person-circle.svg")} #{current_user.personal.nombre_puesto}"),personal_path(current_user.personal.id),class: :"btn btn-outline-dark btn-sm" %>         
      </li>
      <li><hr class="sin_decored nav-item-divider"></li>      
      <li><%= link_to raw("#{image_tag("house-door.svg")} Inicio"),root_path,class: :"sin_adorno" %></li>
      <li><%# link_to raw("#{image_tag("pencil.svg")} Capturar documento") ,documentos_captura_documento_path,class: :"sin_adorno"%></li>
      <li><%# link_to raw("#{image_tag("list-task.svg")} Generar Correspondencia"), relaciones_path,class: :"sin_adorno"%></li>          
      <%# if current_user.oficialia%>
        <li><%# link_to raw("#{image_tag("list-task.svg")} Oficialia"), relacion_oficials_path,class: :"sin_adorno"%></li>          
      <%# end %>
      <hr class="sin_decored nav-item-divider">
      <li><%# link_to raw("#{image_tag("envelope.svg")} Generar Correspondencia"), relaciones_generar_correspondencia_path(id_us_activo:current_user.oficialia==true ? current_user.encargado_juris? ? current_user.user_id : 867 : current_user.user_id) ,class: :"sin_adorno"%></li>
      <%# if current_user.oficialia == true%>
        <li><%# link_to raw(" #{image_tag("oficialia.png",size:"20x20")} #{current_user.oficialia && !current_user.encargado_juris? ? "Oficialia de Partes" : "Oficialia Local" } ") , relaciones_path,class: :"sin_adorno" %></li>
        <%# if current_user.personal.encargado_juris %>
          <li><%# link_to raw(" #{image_tag("file-bar-graph.svg",size:"20x20")} Reporte de Jurisdicciones") , listados_juris_path,class: :"sin_adorno" %></li>
        <%# else %>
          <li><%# link_to raw(" #{image_tag("file-bar-graph.svg",size:"20x20")} Reporte de Jurisdicciones") , listados_juris_path,class: :"sin_adorno" %></li>
        <%# end %>
      <%# end %>
      <!--      
        <li>
          <%# form_with url:relaciones_a_folear_path , method: :get do |f|%>          
            <%#raw("#{image_tag("file-arrow-down.svg",size:"20x20")}") %>
            <%# f.text_field :serial_menu,placeholder: "Introduzca Folio"%>
            <%# f.submit "Despachar" ,style: :"font-size:12px",class: :"btn btn-sm btn-success"%>
          <%# end %>              
        </li>
      <%# if current_user.encargado_juris? %>
        <li><%# link_to raw("#{image_tag("oficialia.png",size:"20x20")} Oficialia Local"), oficialia_locals_path ,class: :"sin_adorno" %></li>
      <%# end %>
      -->
      <%# if current_user.admin? %>
        <li>          
          <%# link_to raw("<strong>Catálogos</strong>"),admins_path %>
        </li>
        <li><%# link_to raw("#{image_tag("area-1401678-1187754.png",size:"20x20")} Áreas"),areas_path,class: :"sin_adorno" %></li>        
        <li><%# link_to raw("#{image_tag("list-check.svg",size:"20x20")}Clasificador actual"), clasificadors_path,class: :"sin_adorno"%></li>        
        <li><%# link_to raw("#{image_tag("32384.png",size:"20x20")} Usuarios/Personas"), detalles_usuarios_path,class: :"sin_adorno" %></li>        
        <li><%# link_to raw("#{image_tag("81547.png",size:"20x20")} Tipos de Anexo"),tipo_anexos_path,class: :"sin_adorno"%></li>
        <li><%# link_to raw("#{image_tag("file-earmark-b.svg",size:"20x20")} Tipos de Documentos"),tipo_docs_path,class: :"sin_adorno"%></li>
      <%# end %>      
      <li><hr class="sin_decored nav-item-divider"></li>
      <li style="padding-right: 5px;" >
        <%# link_to raw("#{image_tag("door-closed-fill.svg")} Cerrar Sesión"), destroy_user_session_path,data: {disable_with:"<span class='spinner-grow spinner-grow-sm' role='status' aria-hidden='true'></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cargando"}, method: :delete,class: :"btn btn-sm btn-outline-danger" %></li>
        version 1.0.0               
      </li>
  </div>
  
</div>
